<h1>Create A New Tamagotchi</h1>
<form action = "/tamagotchi" method= "post">
  <label for="tamaName">Name your Tamagotchi:</label>
  <input id="tamaName" name="tamaName" type="text">
  <button type="submit">Create Tamagotchi</button>
</form>
